.button {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background-color: white;
	color: black;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 5px;
	position: absolute;
}

.day-1 {
	top: 2%;
	left: 5%;
}
.day-2 {
	top: 2%;
	left: 10%;
}
.day-3 {
	top: 2%;
	left: 15%;
}
.day-4 {
	top: 2%;
	left: 20%;
}
.day-5 {
	top: 2%;
	left: 25%;
}
.day-6 {
	top: 2%;
	left: 30%;
}
.day-7 {
	top: 2%;
	left: 35%;
}
