/* cloud animations */

.cloud1 {
	position: absolute;
	top: 10%;
	animation: cloud1 25s linear infinite;
}


@keyframes cloud1 {
	from {
		left: -15%;
	}
	to {
		left: 100%;
	}
}

.cloud2 {
	position: absolute;
	top: 17%;
	left: -25%;
	animation: cloud2 22s ease-in infinite;
	animation-delay: 4s;
}

@keyframes cloud2 {
	from {
		left: -25%;
	}
	to {
		left: 100%;
	}
}

.cloud3 {
	position: absolute;
	top: 24%;
	animation: cloud3 20s linear infinite;
}

@keyframes cloud3 {
	from {
		left: -25%;
	}
	to {
		left: 100%;
	}
}

.cloud4 {
	position: absolute;
	top: 30%;
	left: -50%;
	animation: cloud3 24s ease-out infinite;
	animation-delay: 1s;
}

@keyframes cloud4 {
	from {
		left: -50%;
	}
	to {
		left: 100%;
	}
}

.cloud5 {
	position: absolute;
	top: 37%;
	left: -25%;
	animation: cloud5 23s ease-in-out infinite;
	animation-delay: 3s;
}

@keyframes cloud5 {
	from {
		left: -25%;
	}
	to {
		left: 100%;
	}
}

.cloud6 {
	position: absolute;
	top: 43%;
	animation: cloud6 21s ease-out infinite;
}


@keyframes cloud6 {
	from {
		left: -85%;
	}
	to {
		left: 100%;
	}
}

.cloud7 {
	position: absolute;
	top: 50%;
	left: -65%;
	animation: cloud7 20s ease-in infinite;
	animation-delay: 3s;
}

@keyframes cloud7 {
	from {
		left: -65%;
	}
	to {
		left: 100%;
	}
}
